body {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.background-blue {
  background-color: rgb(0, 56, 132);
}

header {

justify-content: space-between;
align-items: center;
padding: 8px 128px ;
}

.links {
  list-style: none;
  padding: 0px;
  gap: 16px;
}

.link {
  color: white;
  text-decoration: none;
}