body {
  margin: 0;
}

header {
  justify-content: space-between;
  align-items: center;
  padding: 16px 20%;
}

.links {
  list-style: none;
  padding: 0px;
  gap: 16px;
}

.link {
  text-decoration: none;
  color: white;
}

section {
  padding: 0px 20%;
}

.about {
  padding: 128px 20%;
  justify-content: center;
  color: white;
  gap: 128px;
 
}

@media (max-width: 1100px ) {
  .about {
    flex-direction: column;
  }
}

.about > * {
  flex: 1 1 auto;
}

.about__info {
  justify-content: center;
}

button {
  width: 128px;
  height: 32px;
}

.about__image > p > a {
  color: white;
  text-decoration: none;
  
}

.attractions {
  padding-top: 32px;
  padding-bottom: 32px;
}

.attractions > h1 {
  display: flex;
  justify-content: center;
  margin: 0px 0px 32px 0px;
  border-bottom: 1px solid lightgray;

}

.attractions__container {
  align-items: center;
  flex-wrap: wrap;
  gap: 32px;
  justify-content: center;
}

.attractions > p {
  display: flex;
  justify-content: end;
}

.attraction > img {
  width: 345px;
  height: auto;
}

.quote {
  font-size: 1vw;
  margin: 32px 20%;
  padding: 64px 32px;
  background-color: #e9ecef;
}

.sign-up {
  background-color: rgb(255, 102, 0);
  margin: 64px 20%;
  padding: 32px 124px;
  justify-content: space-between;
  align-items: center;
  border: solid 2px white;
  border-radius: 8px;
  color: white;
  font-size: 1vw;
}

.sign-up > * {
  flex: 1;
}
.sign-up__button {
  background-color: rgb(255, 102, 0);
  border: 1px solid white;
  border-radius: 4px;
}

.sign-up__button:hover {
  transition: 100ms;
  background-color: white
}

footer{
  height: 64px;
  background-color: rgb(255, 102, 0);
}

footer > p {
  margin: 0;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-end{
  display: flex;
  justify-content: end;
  gap: 8px;
}

.background-blue {
  background-color: rgb(0, 56, 132);
}



